{% extends 'base.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static '/css/software.css'%}">
<header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>نرم افزارها</h1>
        </div>
      </div>
    </div>
  </header>

  <section id="blog" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card-columns">

              <div class="card">
                <img src="/static/img/25.png" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                  <h4 class="card-title">پایتون</h4>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
                </div>
              </div>

              <div class="card">
                <img src="/static/img/24.png" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                  <h4 class="card-title">کامسول</h4>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
                </div>
              </div>

              <div class="card">
                <img src="/static/img/23.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                  <h4 class="card-title">اندروید</h4>
                  <hr>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="blog" class="py-3">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card-columns">

                <div class="card">
                  <img src="/static/img/22.jpg" alt="" class="card-img-top img-fluid">
                  <div class="card-body">
                    <h4 class="card-title">جنگو</h4>
                    <hr>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
                  </div>
                </div>

                <div class="card">
                  <img src="/static/img/21.png" alt="" class="card-img-top img-fluid">
                  <div class="card-body">
                    <h4 class="card-title">متلب</h4>
                    <hr>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
                  </div>
                </div>



                <div class="card">
                  <img src="/static/img/20.jpg" alt="" class="card-img-top img-fluid">
                  <div class="card-body">
                    <h4 class="card-title">مدارچاپی</h4>
                    <hr>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section>

<footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2018 &copy; Majid - YareMohandes</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
