{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/teaching.css'%}">
<header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>تدریس نرم افزار</h1>
        </div>
      </div>
    </div>
  </header>

<div style="text-align:right;padding-top:40px" dir="rtl" class="container">
  <h1>با حداقل هزینه و کمترین زمان نرم افزار مورد علاقه ی خود را یادبگیرید!</h1>
  <p>تیم یارمهندس متشکل از افراد فارغ التحصیل از بهترین دانشگاه های کشور آماده یاری رسانی به کسانی است که می خواهند نرم افزار خاصی را فرا بگیرند. تدریس نرم افزار در کلیه ی مراحل مقدماتی تا پیشرفته و صنعتی انجام می پذیرد. ما تضمین می کنیم که با کمترین هزینه ی ممکن و حداقل زمان بیشترین بازده از لحاظ یادگیری نرم افزارهای مهندسی را خواهید داشت.</p>
  <p>نرم افزار هایی که تدریس می شوند شامل :</p>
  <p>کد نویسی در محیط m-file متلب (MATLAB)</p>
  <p>شبیه سازی در محیط سیمولینک/متلب (Simulink)</p>
  <p>کامسول (COMSOL Mltiphysics)</p>
  <p>لومریکال (lumerical)</p>
  <p>کتیا (CATIA)</p>
  <p>انسیس (ANSYS)</p>
  <p>آباکوس (ABAQUSE)</p>
  <p>و ...</p>
  <h2>روش های تدریس</h2>
  <p>نحوه ی تدریس نرم افزار بر اساس خواست مهارت آموز با چند روش انجام می شود.</p>
  <h3>متد یک</h3>
  <p>اولین و با صرفه ترین روش آموزش از طریق بستر اینترنت و با استفاده از نرم افزار چون Team Viewer و Skype می باشد که در کل طول تدریس ویدیوها ضبط شده و در اختیار مهارت آموز قرار می گیرد. ارتباط در این نوع آموزش کاملا دوطرفه بوده و امکان سوال و جواب فراهم می باشد. به علت اینکه از کارهای حاشیه ای در این نوع تدریس پرهیز می شود، از زمان به بهترین وجه استفاده می شود و زمان مفید تدریس، به عنوان معیار قرار می گیرد. شما می توانید با گذراندن این دوره ها بر اساس نیازهای خود، در زمان صرفه جویی کنید و توانایی انجام پروژه های خود را کسب کنید و به کمک دیگران نیاز پیدا نکنید.</p>
  <h3>متد دو</h3>
  <p>در روش دوم تدریس نرم افزار به صورت حضوری انجام می شود. با حضور آموزگار و مهارت آموز در یک محل که توسط مهارت آموز مشخص می شود تدریس آغاز می گردد. </p>
  <h3>متد سه</h3>
  <p>در روش سوم با هماهنگی انجمن علمی دانشگاه ها، معاونت ها، شرکت ها و ... آموزگار طی دوره ای در کلاس آموزشی حضور پیدا می کند. و مهارت آموزان ثبت نام کرده در دوره به صورت گروهی تحت آموزش قرار می گیرند. </p>
  <h3>متد چهار</h3>
  <p>در روش آخر تدریس بدین گونه انجام می شود که مهارت آموز قسمتی از نرم افزار را که در کار با آن مشکل دارد مشخص می کند. و یا اینکه پروژه ای که در آن نیاز به کمک دارد برای آموزگار می فرستد و شخص آموزگار ویدیویی ضبط کرده و نکات را در آن توضیح می دهد. این ویدیو برای مهارت آموز فرستاده می شود و اگر باز سوالی داشت به همین منوال کار پیش می رود. این گزینه برای کسانی که با نرم افزار خاصی کار می کنند ولی نیاز به راهنمایی دارند بسیار مناسب می باشد. </p>


</div>
<footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2018 &copy; Majid - YareMohandes</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
