#main-footer{
  background-color: black;
  color: white;

}

#page-header{
  position: relative;
  height: 400px;
  background: url('../img/32.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
